{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
<h1 xmlns:cart="http://www.w3.org/1999/xhtml">Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with ingredient=item.ingredient %}
                <tr>
                    <td>
                        <a href="{{ ingredient.get_absolute_url }}">
                            <img src="
                                {% if ingredient.image %}
                                    {{ ingredient.image.url }}
                                {% else %}
                                    {% static "cart/no_image.jpg" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a style="margin-left: 12px" role="button" class="btn btn-primary styled-button" href="{% url "cart:cart_remove" ingredient.id %}">Remove</a></td>
                    <td class="num"><h4>${{ item.price }}</h4></td>
                    <td class="num"><h4>${{ item.total_price }}</h4></td>

                </tr>

            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td><h1>Total</h1></td>
            <td colspan="4"></td>
            <td class="num"><h2>${{ cart.get_total_price }}</h2></td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a style="margin-left: 12px" role="button" class="btn btn-primary styled-button" href="{% url "all_ingredients" %}" class="button light">Continue shopping</a>
        <a style="margin-left: 12px" role="button" class="btn btn-primary styled-button" href="#" class="button">Checkout</a>
    </p>
{% endblock %}