{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="product-detail">
        <img src="{{ cocktail.image.url }}" height=100px width=100px><br>
        <h1>{{ cocktail.title }}</h1>
        <p> {{ cocktail.recipe|linebreaks }}</p>
        {% for ingredients in cocktail.ingredients.all  %}
         <a href="{% url 'ingredient_detail' ingredients.id %}"><h2>{{ ingredients.title }}</h2></a>
        <img src="{{ ingredients.image.url }}" height=100px width=100px><br>
    {% endfor %}
        </div>
{% endblock %}



