{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<div class="ingredient-card" style="margin-bottom:24px; padding:20px">
    <h3>{{ cocktail.title }}</h3>
    <div class="row">
        <div class="col-2" style="display: flex;align-items: center">
            <div class="cocktail-image">
                <img src="{{ cocktail.image.url }}" style="max-width:150px; max-height:250px">
            </div>
        </div>
        <div class="col-10 row" style="flex-direction: row; display: flex; flex-wrap: wrap;">
            {% for ingredients in cocktail.ingredients.all %}
            <div class="col-4" style="display: flex; flex-direction: column; align-items: center; margin-bottom:16px; text-align:center;">
                {% if user.is_authenticated %}
                <a href="{% url 'ingredient_detail' ingredients.id %}">
                    <h7>{{ ingredients.title }}</h7>
                </a>
                {% else %}
                    <h7>{{ ingredients.title }}</h7>
                {% endif %}

                <img style="border-radius:24px" src="{{ ingredients.image.url }}" height=85px width=85px>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<p> {{ cocktail.recipe| linenumbers | linebreaks }}</p>

{% if user.is_authenticated %}
    <div style="text-align: end;">
    <a href="{% url 'cart:cocktail_all_ingredients_add' cocktail.id %}" class="btn btn-primary styled-button">
        <img src="http://127.0.0.1:8000/static/shop/add_cart.png" class="add-cart-img">
    </a>
    </div>
{% endif %}

{% endblock %}



