{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'shop/style.css'%}" type="text/css">

    <link rel="icon" type="image/png" href="{% static " shop/logo.png" %}">

    <title>Shake_It</title>
</head>
<body>

<nav id="topNav" class="navbar navbar-expand-md navbar-light">
    <div class="container" style="align-items: end;">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static "shop/logo.png" %}" width=150px height=150px class="d-inline-block align-top" alt="Ivan's
            Logo">
        </a>
        <div class="collapse navbar-collapse text-center" id="navbarNav" style="flex-direction: column; margin-bottom: 6px;">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a style="margin-left: 12px" role="button" href="{% url 'cart:cart_detail' %}"
                       class="btn btn-primary styled-button">Cart
                    </a>
                </li>
                <li>
                    <a style="margin-left: 12px" role="button" href="{% url 'all_ingredients' %}"
                       class="btn btn-primary styled-button">Shop
                    </a>
                </li>
            </ul>
            <div class="ml-auto" style="margin-top:12px">
               {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
            </div>
        </div>
    </div>
</nav>





<div class="container" style="background-color: #d7d7d7; padding: 24px; border-radius: 36px; width:900px">

    {% block content %}
    {% endblock %}

</div>

<!--<a style="margin-left: 12px" role="button" href="#" class="btn btn-primary styled-button">About Shop</a>-->
</body>

</html>