{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<div class="search-container">
    <form action="{% url 'search:search_cocktail' %}" method="GET" class="align-items-center">
        <input class="search-input" name="query" placeholder="Enter cocktail or ingredient...">
        <button type="submit" class="btn btn-primary styled-button ml-12">
            Search
        </button>
    </form>
</div>

<div class="number-of-results">
    <h5>{{ number_of_results }}</h5>
</div>
<a href="{% url 'orders:all_orders' %}" >Orders</a>
{% for cocktail in cocktail %}

<div class="ingredient-card card-list-item">
    <div style="margin-bottom:24px">
        <a href="{% url 'cocktail_detail' cocktail.id %}"><h4>{{ cocktail.title }}<br></h4></a>
    </div>
    <div class='row'>
        <div class="col-2 cocktail-image-container">
            <div class="cocktail-image">
                <img src="{{ cocktail.image.url }}" style="max-width:100px"> <br>
            </div>
        </div>
        <p><br>
        <div class="col-10 row cocktail-ingredients-container">
        {% for ingredients in cocktail.ingredients.all %}
        <div class="col-3 cocktail-ingredient-container">
            <h7 style="text-align: center;">{{ ingredients.title }}</h7>
            <img class="cocktail-ingredient-image" src="{{ ingredients.image.url }}"><br>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endfor %}


{% endblock %}
