{% extends "shop/base.html" %}
{% load static %}
{% block content %}


<div class="row cocktail-content">
<div style="align-items: center; flex-direction: column; display: flex; margin-bottom: 24px">
    <form action="{% url 'search:search_ingredient' %}" method="GET" style="display: flex; align-items: center;">
        <input name="query" placeholder="Enter ingredient..." style="width: 500px">
        <button  style="margin-left:12px" type="submit" class="btn btn-primary styled-button">
        Search
        </button>
    </form>
</div>
    {% for ingredients in ingredient %}

    <div class="col-4" style="padding:4px">
       <div class="ingredient-card " style="padding-left:20px; padding-right:20px;">
            <a href="{% url 'ingredient_detail' ingredients.id %}">
                <h3 style="text-align: center;">{{ ingredients.title }}<br></h3>
            </a>
            <h5>${{ ingredients.price }} <br></h5>
            <img src="{{ ingredients.image.url }}" style="max-width:150px; border-radius: 24px">
            <div style="height:100%"></div>
            <h6>{{ ingredients.category }}<br></h6>
       </div>
<!--        {{ ingredients.description }}-->
    </div>

<!--    <div>-->
<!--        <form action="{% url "cart:cart_add" ingredients.id %}" method="post">-->
<!--            {{ cart_ingredient_form }}-->
<!--            {% csrf_token %}-->
<!--        <input type="submit" value="Add to cart">-->
<!--        </form>-->
<!--    </div>-->
{% endfor %}

</div>

{% endblock %}