{% extends "shop/base.html" %}
{% load static %}
{% block content %}


<div class="row cocktail-content">
    {% for ingredients in ingredient %}

    <div class="col-4" style="padding:4px">
       <div class="ingredient-card " style="padding-left:20px; padding-right:20px;">
            <a href="{% url 'ingredient_detail' ingredients.id %}">
                <h3 style="text-align: center;">{{ ingredients.title }}<br></h3>
            </a>
            <h5>${{ ingredients.price }} <br></h5>
            <img src="{{ ingredients.image.url }}" style="max-width:150px">
            <div style="height:100%"></div>
            <h6>{{ ingredients.category }}<br></h6>
       </div>
<!--        {{ ingredients.description }}-->
    </div>

<!--    <div> # почему не появляется кнопка с колличеством(-->
<!--        <form action="{% url "cart:cart_add" ingredients.id %}" method="post">-->
<!--            {{ cart_ingredient_form }}-->
<!--            {% csrf_token %}-->
<!--        <input type="submit" value="Add to cart">-->
<!--        </form>-->
<!--    </div>-->
{% endfor %}
</div>

{% endblock %}