{% extends "shop/base.html" %}
{% load static %}
{% block content %}



{% for ingredients in ingredient %}

<a href="{% url 'ingredient_detail' ingredients.id %}"><h1>{{ ingredients.title }}<br></h1></a>
<h5>{{ ingredients.category }}<br></h5>
<img src="{{ ingredients.image.url }}" height=100px width=100px><br>
<td>${{ ingredients.price }}<br><br></td>
    {{ ingredients.description }}
<div> # почему не появляется кнопка с колличеством(
    <form action="{% url "cart:cart_add" ingredients.id %}" method="post">
        {{ cart_ingredient_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
        </form>
</div>

{% endfor %}
{% endblock %}