{% extends "shop/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="order-info">

    <h5>Order №: {{ order.id }} - {{ order.created }}</h5>
</div>
Address: {{ order.city }}, {{ order.address }}
<ul>
    {% for item in order_items %}
      <li>
         {{ item.ingredient.title }}: {{ item.quantity }} x ${{ item.price }} = ${{ item.get_cost }}
      </li>
    {% endfor %}
</ul>
Total Cost: ${{ order.get_total_cost }}

{% endblock %}





</body>
</html>